.option {
  width: 100%;
  min-height: 150px;
  font-size: 90px;
}

.option-container {
  margin-bottom: 20px;
}

.winner-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: rgba(0, 0, 0, 0.5);

  .well {
    margin-top: 5%;

    h1 {
    }
  }
}